<div class="container">
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <h2>Log in </h2>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <%- if flash[:error] %>
        <%= flash[:error] %>
      <% elsif flash[:success] %>
        <%= flash[:success] %>
      <% end %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <%= form_for :session, url: sessions_path do |f| %>
        <%= f.label :username %>
        <%= f.text_field :username, class: 'form-control', placeholder: 'Username' %>
        <%= f.label :password %>
        <%= f.password_field :password, class: 'form-control', placeholder: 'Password' %>
        <div class="login_btn">
        <%= f.submit 'Log In', class: 'btn btn-primary' %>
        <p> New User? <%= link_to 'Click here to create an account.', new_user_path %> </p>
        </div>
      <% end %>
    </div>
  </div>
</div>
  
   
     