<div class="container"> 
    <h1> Latest post </h1> 
    <div class="row"> 
        <div class="col-md-6" style= "height: 450px;background: url(<%= url_for(@post.first.image.url(:large)) %>) no-repeat;">
            <h1>   <%= @post.first.title  %>    </h1> 
        </div>
        <div class="col-md-6">    
            <div style="height: 225px; background: url(<%= url_for(@post[1].image.url(:medium)) %>) no-repeat">
                <h3>  <%= @post[1].title  %> </h3>
            </div>
            <div style="height: 225px; background: url(<%= url_for (@post[2].image.url(:medium)) %>) no-repeat">
                <h3>  <%= @post[2].title  %> </h3>
            </div>
        </div>
    </div>
    <h1> Coding </h1>
    <div class="row">       
        <% @post_coding.each do |post| %> 
            <div class="col-md-3">   
                <div style= "height: 225px;  margin-left:-15px; background:url(<%= url_for(post.image.url(:medium)) %>) no-repeat;">
                    <h4>   <%= post.title  %>    </h4> 
                </div>
            </div>
            <%  end %>  
    </div>
<h1> Running </h1>
 <%# <%= image_tag @post.first.image.url(:large)%>
<div class="row">
<% @post.each do |post| %>     
        <% if post.category == "Coding" %>      
        <div class="col-md-4 category_1" style="height: 230px;background: url(<%= url_for(post.image.url(:medium)) %>) no-repeat;">                  
         <h1>  This <%= post.title  %>    </h1>      
            <%# <%= image_tag post.image.url(:medium) %> 
        </div>    
        <%end%>   
    <% end %>
    </div>
    <table class="table table-hover table-light table-borderless">   
        <% @post.each do |post| %>
        <tbody>
        <tr>
        </tr>
        <tr>
            <td> <%= link_to post.title,post_path(post), class:"content" %> 
            <%# <a class="title_of_blog"><%=post.title %>
             <%# <p> <%= post.created_at %>
             
       
            <%# <td colspan="1">  <%= link_to 'Show' , post_path(post) %> 
            <%# </td> %> 
             <td width="5%" ><%= link_to post_path(post)  do %>
                            <i class="fa fa-eye"></i>
                            <% end %>
                           
            </td>
            <%  if session[:user_id] == post[:user_id] or session[:username] == "admin"%>
            <td width="5%" ><%= link_to edit_post_path(post) do %>
                            <i class="fa fa-pencil"></i>
                            <% end %>
                           
            </td>
             <td width="5%"><%= link_to destroy_post_path(post) ,method: :delete,
              data: { confirm: 'Are you sure?' } do%>             
              <i class="fa fa-trash"></i> </td>
               <% end %>            
            <% end %>
            <% end %> 
            
           
        </tr>
        </tbody>    
    </table>
    <div class="col-md-4 offset-md-4">
        <div class="pagenumber">
            <%= will_paginate(@post, :renderer => WillPaginate::ActionView::Bootstrap4LinkRenderer) %>
        </div>
    </div>   
</div>