<div class="container">  
    
    <table class="table table-hover table-dark table-borderless">
        <% @post.each do |post| %>
        <tbody>
        <tr>
            <td> <%= link_to post.title,post_path(post) %> 
            <%# <a class="title_of_blog"><%=post.title %>
             <%# <p> <%= post.created_at %>
             
       
            <%# <td colspan="1">  <%= link_to 'Show' , post_path(post) %> 
            <%# </td> %> 
             <td width="5%" ><%= link_to post_path(post) do %>
                            <i class="fa fa-eye"></i>
                            <% end %>
                           
            </td>
            <%  if session[:user_id] == post[:user_id]%>
            <td width="5%" ><%= link_to edit_post_path(post) do %>
                            <i class="fa fa-pencil"></i>
                            <% end %>
                           
            </td>
             <td width="5%"><%= link_to destroy_post_path(post) ,method: :delete,
              data: { confirm: 'Are you sure?' } do%>             
              <i class="fa fa-trash"></i> </td>
               <% end %>            
            <% end %>
            <% end %>          
        </tr>
        </tbody>    
    </table>  
    
</div>
