
    <!-- used regex to create the time> -->
    <div class="title"> 
        <h1 class="title_of_blog_post"><%= @post.title %></h1>
        <%# <h1> Category: <%= @post.category %>
        
        <p class="created_at"> <%= @post.created_at.strftime('%A, %B %d')%></p>
    </div>

<div class="col-md-8 offset-md-2">
    <div class="post_author">
        <%# <p> <h5>Author: <%=  @post.user.username %></h5> </p> 
    </div>
    <div class="post_body">
        <p> <%= image_tag @post.image.url(:thumb)%>
        <p> <%= markdown(@post.blob) %>  </p>
       
    </div>
    <%  if session[:user_id] == @post[:user_id] or session[:username] == "admin"%>
            <%= link_to edit_post_path(@post) do %>
                            <i class="fa fa-pencil"></i>
                            <% end %>
                           
            
<%= link_to destroy_post_path(@post) ,method: :delete,
              data: { confirm: 'Are you sure?' } do%>             
              <i class="fa fa-trash"></i> </td>
               <% end %>            
            <% end %>
 </div>

 
   
  </br>


            
  