<!DOCTYPE html>
<html>
  <head>
    <title>Saral Karki</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'application', 'https://fonts.googleapis.com/css?family=montserrat' %>
  </head>

  <body>
  <div class="container" >
    <nav class="navbar navbar-expand-lg navbar-light">
      <ul class="nav">
        <%= link_to "https://twitter.com/sir_carkey", class:"social-link" do%> 
          <i class="fa fa-twitter blue"></i> 
        <% end %>
        <%= link_to "https://github.com/Saralkarki", class:"social-link" do%> 
          <i class="fa fa-github red"></i>
         <% end %>
         <a href = "https://dev.to/saral" class="social-link"> <img src = "https://d2fltix0v2e0sb.cloudfront.net/dev-badge.svg" class="dev-logo"> </a>
      
        <%= link_to "https://www.linkedin.com/in/saral-karki/", class:"social-link" do%> 
        <i class="fa fa-linkedin purple"></i>
        <% end %>
        <%= link_to "mailto:saral.karki@gmail.com", class:"social-link" do%> 
        <i class="fa fa-envelope green"></i>
        <% end %>
      </ul> 
      <ul class="nav ml-auto">  
            <li class="nav-item"><%= link_to 'Home', root_path , class:"nav-link"%>  
             <li class="nav-item"><%= link_to 'Running', login_path , class:"nav-link"%>  </li>
              <li class="nav-item"><%= link_to 'Coding', login_path , class:"nav-link"%>   </li>
              <li class="nav-item"><%= link_to 'Experiences', login_path , class:"nav-link"%>  </li>
               <li class="nav-item"><%= link_to 'All', post_home_path , class:"nav-link"     %>  
      <% if session[:username] == "admin"%>   
               <li class="nav-item"><%= link_to 'New', new_post_path , class:"nav-link"     %>   
      <% end %>                    
         </ul>
  </nav>   
</div>
  <%= yield %>  
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </body>
  

</html>

