<!DOCTYPE html>
<html>
  <head>
    <title>International Institute of Independent Researchers</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <nav class="navbar navbar-default">
  <div class="container-fluid">
  
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    
    </div>
    <div class="col-md-1 col-sm-12"><%= image_tag("logo.png", :alt => "rss feed", :class => "logo") %>    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"> <%= link_to 'Home', root_path %></li>
        <li><%= link_to 'New Post', new_post_path %></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">        
         <%  if !session[:user_id]%>
            <li><%= link_to 'Login', login_path , class: 'glyphicon glyphicon-log-in'%></a></li> 
            <li><%= link_to 'Register', register_page_path , class: 'glyphicon glyphicon-user'%></li>             
          <% else %>         
          <li> <%= link_to @user.username.upcase, user_detail_path(@user) , class: 'glyphicon glyphicon-user' %> </li>
          <li><%= link_to 'Logout', logout_path , class: 'glyphicon glyphicon-log-out' %> <li>
          
          
        <% end %>
        

      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
    
  <%= yield %>
  </body>
</html>
